[project]
	description = An example that will cause a build failure
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sunnyind44
[access "refs/for/refs/*"]
	read = group user/sunnyind44
	push = group user/sunnyind44
	label-Code-Review = -2..+2 group user/sunnyind44
	label-Verified = -1..+1 group user/sunnyind44
	rebase = group user/sunnyind44
	removeReviewer = group user/sunnyind44
	submit = group user/sunnyind44
[access "refs/heads/*"]
	read = group user/sunnyind44
	create = group user/sunnyind44
	push = +force group user/sunnyind44
	pushMerge = group user/sunnyind44
[access "refs/tags/*"]
	push = group user/sunnyind44
	push = +force group user/sunnyind44
